.Accounts {
  padding-top: 25px;
}

.Accounts-accounts {
  border-right: none !important;
}

.Accounts-account {
  font-size: 18px !important;
}

.Accounts-add-button {
  margin-top: 20px;
  font-size: 16px !important;
  height: 40px !important;
}
