.Files {
  padding: 20px;
}

.Files-content {
  padding: 20px;
  background-color: #fff;
}

.Files-actions > :first-child {
  margin-right: 10px;
}

.Files-breadcrumbs {
  margin-bottom: 25px;
}

.Files-breadcrumb {
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.Files-breadcrumb:hover {
  text-decoration: underline;
}

.Files-icon {
  font-size: 20px;
}
