.atlas {
  font-family: sans-serif;
  font-size: 24px;
  color: #F8F8F8;
  font-weight: bold;
}

.atlas-motto {
  font-family: sans-serif;
  font-size: 14px;
  color: #F8F8F8;
}

.Header-avatar {
  cursor: pointer;
}
